{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">Tag: {{ post.spam_or_ham }},</small>
              <small class="text-muted">Spam probability: {{ post.gaussian_naive_bayes_value }},</small>
              <small class="text-muted">Date: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h4><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h4>
             {% if post.spam_or_ham == 'A SPAM' %}
                 <p class="article-content" style="color:red;"><b>Result: SPAM</b></p>
             {% else %}
                 <p class="article-content" style="color:darkgreen;"><b>Result: NOT SPAM</b></p>
             {% endif %}
            <ul>
            <li class="article-content">Gaussian Naive Bayes Value       {{ post.gaussian_naive_bayes_value }}</li>
           </ul>
          </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
